<div class="col-md-6">
  <nb-card>
    <nb-card-header>Cadastro de usuarios</nb-card-header>
    <nb-card-body>
      <form>
        <div class="form-group">
          <label for="idInputLoginUsuario">Login do usuário</label>
          <input type="text" class="form-control" id="idInputLoginUsuario" placeholder="Exemplo: nick.jones">
        </div>

        <div class="form-group">
          <label for="idInputNomeCidade">Nome da cidade</label>
          <input type="text" class="form-control" id="idInputNomeCidade" placeholder="Exemplo: Águas claras">
        </div>

        <button type="submit" class="btn btn-success">Enviar</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>
